@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030213;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.dark-placeholder::placeholder {
  color: #52525b !important;
  opacity: 1 !important;
}
